html{
    margin: 0;
    padding:0;
}
body{
    background-color: bisque;
}
p{
    color: rgb(21, 21, 214);
}
h1{
    font-size: 50px;
    color:rgb(37, 114, 37);
    /* position: absolute; */
    /* left: 50%; */
    text-align: center ;
     /* align-items: center; */
}